.plugins .second {
  padding-bottom: 0;
}

.pluginsclub-rating-stars {
  white-space: nowrap;
  line-height: 1.1;
  display: inline-flex;
  margin-right: 8px;
}
.pluginsclub-rating-stars a {
  outline: none;
  display: inline-block;
  width: 14px;
}
.pluginsclub-rating-stars a:hover {
  text-decoration: none !important;
}
.pluginsclub-rating-stars a:focus {
  box-shadow: none;
}
.pluginsclub-rating-stars .dashicons {
  color: #ffb900;
  font-size: 14px;
}